.button {
  font-family: $font-n1-family;
  font-style: normal;

  &:hover {

  }
  &:active {

  }
}
.top--arrow,
.button__about--readmore {
  font-family: $font-n1-family;
  font-style: normal;
  display: table;
  @extend %container;
  @include rem-fallback(padding-top, 5);
  @include rem-fallback(padding-bottom, 5);
  @include rem-fallback(padding-left, 10);
  @include rem-fallback(padding-right, 10);
  @include rem-fallback(margin-top, 50);
  border: 2px solid $color-dark-grey;

  &:hover {
    color: $color-white-white;
    background-color: $color-blue-blue;
    border-color: $color-blue-blue;
  }
  &:active {
    background-color: lighten($color-blue-blue, 10%);
  }
}

#av-overlay-wrap {

  input[type="radio" i],
  input[type="checkbox" i] {

    padding: 5px;

}
}
#av_verify {
  padding: 5px 10px;
  border: 2px solid #333;
  background-color: white;
  display: block;
  margin-top: 20px;
  font-size: 14px;
  font-family: "GrotesqueFont";
}

.error {
  border-radius: 0;
  border: 2px solid #333;
}

.av-overlay {
  h1 {
    font-size: 20px;
  }
}
