//Font size
$icon-font-size: 42;
//colors
$color-dark-grey: #444444;
$color-black-black: #222222;
$color-white-white: #ffffff;
$color-green-green: #02542c;
$color-red-red: #73040d;
$color-blue-blue: #004469;
$color-yellow-yellow: #a38022;

//min/max width
$min-width: 400px;
$mq-medium: 550px;
$mq-large: 1200px;
$max-width-xlarge: 1600px;
$max-width-large: 1000px;
$max-width-medium: 800px;
$max-width-small: 600px;

//Base
$max-height-100: 100vh;
$base-font-size: 16px;
$base-line-height: 1.5;


//heading
$h1-font-size: 36;
$h2-font-size: 30;
$h3-font-size: 28;
$h4-font-size: 18;
$h5-font-size: 18;
$h6-font-size: 16;

$heading-line-height: 1.2;

$font-n1-family: 'GrotesqueFont';
$font-n2-family: 'CenturyFont';
$font-n3-family: 'BaskervilleFont';
