.section--about--content {
  @include rem-fallback(margin-top, 24);
  @include font-size(22);
  font-style: italic;
  font-family: $font-n3-family;

  .active {
    border-color: lighten($color-blue-blue, 10%);
    color: $color-white-white;
    background-color: lighten($color-blue-blue, 10%);
  }

  .open {
    display: block;
  }

  .p1 {
    @include rem-fallback(margin-bottom, 50);
  }
}

.section--about--extendedcontent {
  display: none;
  @include rem-fallback(margin-top, 50);
}

@media only screen and (min-width: $mq-medium) {
  .section--about--content {
    @include rem-fallback(margin-top, 50);
  }
}

@media only screen and (min-width: $mq-large) {
  .section--about--content {
    @include font-size(24);
    @include rem-fallback(margin-top, 100);
  }
}
