.section--about {
    background: url("../img/about-image.jpg") center no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: black;
        opacity: 0.1;
    }

    .about--wrapper {
        position: absolute;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        text-align: left;
        width: fit-content;
        padding-right: 15px;

        .header {
            color: white;
            font-size: 32px;
        }

        .entry {
            font-size: 18px;
            line-height: 1.5;
            color: white;
            font-family: "AmericanTypewriter";
            margin-bottom: 15px;
        }
    }

    .arrow-down {
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0;
        content: "";
        // background-color: rgba(0, 0, 0, 0.7);
        opacity: 0.8;

        .icon {
            margin: 9px auto 0;
            max-width: 60px;
        }

        svg {
            height: 30px;
            width: 57px;
            transform: rotate(90deg);
        }
    }
}
@media only screen and (min-width: 512px) {
    .section--about {
        .about--wrapper {
            max-width: 980px;
            left: 50%;
            text-align: center;
            padding-right: 15px;

            .header {
                font-size: 32px;
            }

            .entry {
                font-size: 24px;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .section--about {
        .arrow-down {
            height: 130px;

            .icon {
                margin: 35px auto 0;
                max-width: 60px;
            }

            svg {
                height: 40px;
                width: 75px;
            }
        }

        .about--wrapper {
            max-width: 980px;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            width: fit-content;

            .header {
                text-align: center;
                font-size: 32px;
            }

            .entry {
                text-align: center;
                font-size: 24px;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .section--about {
        .about--wrapper {
            max-width: 980px;

            .header {
                font-size: 42px;
            }

            .entry {
                font-size: 28px;
            }
        }
    }
}