.section--contact {
    background: #fff;
}

.section__content--contact {
    color: #444;
    display: grid;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    text-align: center;
}

.section__heading--contact {
    font-family: $font-n1-family;
    margin: 0 auto 15px;
    text-align: center;
    color: #444;
}

.section--contact--contact {
    padding-bottom: 25px;
}

.contact--icons--list {
    padding-bottom: 25px;
}

.contact--map {
    height: 500px;
}

.contact--icons--item {
    &:before {
        padding-right: 8px;
    }

    &:active {
        color: darken($color-white-white, 15%);
    }
}

.contact--icons--link {
    text-decoration: none;
}
@media only screen and (min-width: 512px) {
    .section__content--contact {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        text-align: center;
    }

    .contact--map {
        grid-column-start: 1;
        grid-column-end: 3;
        display: inline-block;
        @include rem-fallback(padding-bottom, 40);
    }

    .section__content--adress {
        grid-column-end: 3;
    }

    .section--contact--contact {
        padding: 25px;
    }

    .section--contact--adress {
        border-left: 3px solid #444;
        padding: 25px;
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 600px) {
    .section__content--contact {
        padding-left: 25px;
        padding-right: 25px;
        margin: 0 auto;
        text-align: center;
    }

    .contact--map {
        grid-column-start: 1;
        grid-column-end: 3;
        display: inline-block;
        @include rem-fallback(padding-bottom, 40);
    }

    .section__content--adress {
        grid-column-end: 3;
    }

    .section--contact--contact {
        padding: 50px;
    }

    .section--contact--adress {
        border-left: 3px solid #444;
        padding: 50px;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 768px) {
    .section__content--contact {
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 auto;
        text-align: center;
    }
}