.decoration {
  @include rem-fallback(height, 800);
  background-position: center center;
  background-size: cover;
}

.decoration--thebar {
  background-image: url("../img/en-bild.jpg");
  background-repeat: no-repeat;

}

@media only screen and (min-width: $mq-medium) {
  .decoration--thebar {
    background-attachment: fixed;
  }
}
