.footer__content {
    // @extend %container;
    text-align: center;
    color: #444444;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer__heading {
    font-family: "GrotesqueFont";
    display: inline-block;
    color: #444444;
    font-size: 24px;
}

.footer--icons {
    @include font-size(42);
}

.footer__content--logo {
    max-width: 100px;
    display: block;
    width: auto;
    margin: 25px auto 16px;
}

.footer__content--title {
    margin-top: 0;
    color: #222;
    font-size: 20px;
}

.footer--icons--item {
    display: inline-block;

    &:nth-of-type(1) {
        @include rem-fallback(margin-bottom, 25);

        &:hover {
            color: $color-dark-grey;
            background-color: #444444;
        }

        &:active {
            color: lighten($color-dark-grey, 10%);
            background-color: darken(#444444, 10%);
        }
    }
}
@media only screen and (min-width: 600px) {
    .footer--icons--item {
        padding: 5px;

        &:nth-of-type(1) {
            @include rem-fallback(margin-right, 20);
            @include rem-fallback(margin-bottom, 0);
        }
    }
}
@media only screen and (min-width: 768px) {
    .footer__content--logo {
        max-width: 150px;
        display: block;
        width: auto;
        margin: 50px auto 16px;
    }

    .footer__content--title {
        font-size: 28px;
    }

    .footer__content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer__heading {
        font-size: 32px;
    }
}
@media only screen and (min-width: 1024px) {}